# Environment variables (API Keys, Secrets)
.env
*.env

# Python / Virtual Environments
__pycache__/
*.py[cod]
*$py.class
/opt/venv/
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code & Dev Containers
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.devcontainer/

# OS Specific
.DS_Store
Thumbs.db

# Project Data / Cache
*.log
*.pkl
*.sqlite3